

ul{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.post-subtitle{
    font-weight: normal;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
